@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


body {
    margin: 0;
    padding: 0;
    background: none;
    font-family: "Cabin", serif;
    color: inherit;
    border: none;
    box-sizing: border-box;
}


#map {
    height: 80vh;
    width: 100%;
}

.leaflet-popup-content-wrapper {
    background-color: #0c213f;
    border-radius: 10px;
    padding: 10px;
    font-family: "Cabin", serif;
    color: #f9f9f9;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #f9f9f9;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #0c213f;
}

.header {
    background-color: #3b8dff;
    font-size: 32px;
    color: #f9f9f9;
}

.info.legend {
    line-height: 18px;
    color: #555;
    background-color: white;
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
}

.info.legend i {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    margin-right: 8px;
    display: inline-block;
}

.info.legend i {
    margin-right: 5px;
    vertical-align: middle;
}

.container {
    display:flex
}

#parameters {
    width: 25%;
    font-size:medium;
}

#table_rank {
    width: 100%;
    max-width: 400px;
    /* margin: 20px auto; */
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#table_rank table {
    width: 100%;
    border-collapse: collapse;
}

#table_rank thead {
    background-color: #007BFF;
    color: white;
    text-align: left;
}

#table_rank th, #table_rank td {
    padding: 12px;
    border: 1px solid #ddd;
}

#table_rank tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#table_rank tbody tr:hover {
    background-color: #f1f1f1;
}

#table_rank td {
    text-align: center;
}

.arrow {
    width: 12px;
}

.taux {
    display: flex;
    gap: 5px;
}